.lgMainDiv {
  width:100%!important;
}

.smMainDiv {
  height: auto;
  text-align: center!important;
}

.smImgDiv{
width:100vw;
}

.smMainBanner{
  width:85vw;
}

.widgetDiv{
  width:40%!important;
}
.imgDiv{
  width: 60%!important;
}

.mainBanner{
  margin-left:150px!important;
  padding-top:20px!important;
}