<ng-template #bigScreen>

  <div class="lgMainDiv" fxLayout="columns wrap" fxLayoutAlign="center center">
    <div class="widgetDiv">
      <div id="okta-signin-container"></div>
    </div>
    <div class="imgDiv">
      <img src="assets/img/lion-logo-long.png" class="mainBanner">
    </div>
  </div>

</ng-template>

<!-- ************************* SMALL SCREEN ************************* -->
<!-- ************************* SMALL SCREEN ************************* -->
<ng-template [ngIf]="smallScreen" [ngIfElse]="bigScreen">
  <div class="smMainDiv">
    <div class="flex justify-content-center flex-wrap card-container  z-5">
      <div class="smImgDiv">
        <img src="assets/img/lion-logo-long.png" class="smMainBanner">
      </div>
      <div id="okta-signin-container"></div>
    </div>
  </div>
</ng-template>