.dashMainDiv {
    width: 95vw !important;
    height: 80vh !important;
    margin-top: 10px !important;
}

.nameDiv{
    
    color: #FFFFFF!important;

    width: 95vw !important;
    margin-top: 20px !important;
    padding:10px!important;
}

.mainIframe {
    width: 100% !important;
    height: 100% !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dashMainDiv::-webkit-scrollbar {
    display: none!important;

}


/* Hide scrollbar for IE, Edge and Firefox */
.dashMainDiv {

    -ms-overflow-style: none!important;
    /* IE and Edge */
    scrollbar-width: none!important;
    
}

.iframe .chiclet-area{
background: transparent!important;
}

.preview-banner{
    display:none!important;
}